.country-card__flag-container {
    height: 160px;
    & > img {
        height: 160px;
        object-fit: cover;
    }
}
.country-card-infos {
    background-color: $dark-blue;
    color: $very-light-gray;
    padding-inline: 3rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
}
.country-card-infos__name {
    font-size: 2rem;
    font-weight: 600;

    margin-bottom: 1.5rem;
    a {
        color: $very-light-gray;
        text-decoration: none;
    }
}
.country-card-infos__info {
    line-height: 1;
    margin-bottom: 0.9rem;
    font-size: 1.4rem;
    color: hsl(0deg 0% 88.25%);
    font-weight: 300;
    span {
        font-weight: 600;
        color: $very-light-gray;
    }
}
