.country-infos__container {
    @include container;

    margin-top: 8rem;
    font-size: 1.6rem;
}
.country-infos__back-btn {
    cursor: pointer;
    background-color: $dark-blue;
    color: $very-light-gray;
    border: 0;
    display: flex;
    gap: 1.4rem;
    align-items: center;
    padding: 10px 35px;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.details {
    // TODO: Mobile layout
    margin-top: 8rem;

    display: grid;
    @include breakpoint-l {
        grid-template-columns: repeat(2, 1fr);
        gap: 13rem;
    }
    // TODO: Mobile layout
}
.details__infos-container {
    padding-block: 4rem;
    color: $white;
}
.details__common-name {
    font-size: 3rem;
    margin-bottom: 2.5rem;
}
.details__columns-layout {
    display: grid;
    // TODO: mobile layout
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;

    margin-bottom: 5rem;
}
.details__column > p {
    margin-bottom: 1rem;
}

.details__border-countries {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.border-countries__container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.border-country {
    background-color: $dark-blue;
    padding: 10px 20px;
}
