.header {
    background-color: $dark-blue;
}
.header__logo {
    color: $very-light-gray;
    font-size: 2.8rem;
    @include breakpoint-m {
        font-size: 2.5rem;
    }
    font-weight: 700;
}
.header__container {
    @include container;
    padding-block: 6rem;
    @include breakpoint-m {
        padding-block: 2rem;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
}
