.countries__container {
    @include container;
    // TODO: Tablets and mobile layouts adjustements
    display: grid;
    @media screen and (min-width: $breakpoint-l) {
        grid-template-columns: repeat(4, 1fr);
        gap: 6rem;
    }
    padding-bottom: 3rem;
}
